<!doctype html>
<html>
  <head>
    <title> SimpEric </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Self Game</a>
      </div>
      <ul class="nav navbar-nav ">
        <li><a href="fight">Fight</a></li>
        <li><a href="chars">Characters</a></li>
        <li><a href="canvas">Canvas</a></li>
      </ul>
    </div>
    </nav>
    <div class="container">
      {{{body}}}
    </div>
  </body>
</html>
