<div class="row">
  <div class="col-sm-4 messages">
    <!--
    <h2> 戰鬥音樂播放: Manaical Prodigy </h2>
    <audio id="battle-music" mediagroup="gp" controls>
      <source src="media/Manaical_Prodigy.ogg">
      您的瀏覽器不支援audio元素
    </audio><br>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"> </script>   
    <input class="btn" type="button" id="btnLocation" value="location" onclick="getCurrentPosition()">    <script src="js/geolocation.js"> </script>
    <canvas id="can" width="800" height="800" > Hello Canvas!! </canvas>
    <script src="js/canvas.js"> </script> 
    --!>
    <img id="Harold" src="imgs/Harold.png"> </img> 
    <canvas id="glass"> </canvas>
    <script src="js/glass.js"> </script>
    <script>
	Glass.bind( document.getElementById("Harold" ));
    </script>
    <table class="table table-striped">
      <caption><h2 style="text-align: center"> canvas </h2></caption>
      <tr>
        <th>time</th>
        <th>Name</th>
        <th>Skill</th>
        <th>Demage</th>
      </tr>
      <tr>
        <td>14:00</td>
        <td>Eileen</td>
        <td>RNN</td>
        <td>100</td>
      </tr>
      <tr>
        <td>14:30</td>
        <td>Bahamut</td>
        <td>time decay</td>
        <td>100</td>
      </tr>
    </table>
  </div>
</div>
