<div class="row">
  <h1> Characters </h1>
  <div class="row">
    <div class="col-sm-4">
      <h3>Eileen</h3>
      <img src="imgs/Eileen.png">
      <p> 翹之想望</p>
    </div>
    <div class="col-sm-4">
      <h3>Amina</h3>
      <img src="imgs/Amina.png">
      <p> 絕對領域之白</p>
    </div>

  </div>
</div>


