<div class="row">
  <div class="col-sm-4">
    <h3>Eileen</h3>
    <img class="char" src="imgs/Eileen.png">
    <p> 翹之想望</p>
  </div>
  <div class="col-sm-4 messages">
    <table class="table table-striped">
      <caption><h2 style="text-align: center">Fighting</h2></caption>
      <tr>
        <th>time</th>
        <th>Name</th>
        <th>Skill</th>
        <th>Demage</th>
      </tr>
      <tr>
        <td>14:00</td>
        <td>Eileen</td>
        <td>RNN</td>
        <td>100</td>
      </tr>
      <tr>
        <td>14:30</td>
        <td>Bahamut</td>
        <td>time decay</td>
        <td>100</td>
      </tr>
    </table>
  </div>
  <div class="col-sm-4">
    <h3>Bahamut</h3>
    <img class="char" src="imgs/Bahamut.png">
    <p> ICASSP Report</p>
  </div>
</div>
