<div class="panel panel-warning" id="fortune-panel">
  <div class="panel-heading">
    <h3> Your Fortune for The Day</h3>
  </div>
  <div class="panel-body" id="fortune">
    <blockquote>{{fortune}}</blockquote>
  </div>
</div>

