body {
  padding-top: 70px;
}
.logo {
  width: 30px;
  height: 30px;
}
.char {
  width:  370px;
  height: 458px;
}
.messages {
  margin-top: 100px;
}

.btn-del, .btn-del-edit {
  display: inline;
  float: right;
  background: url("/imgs/delete.png") no-repeat bottom left;
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
  width: 16px;
  height: 18px;
}


